extends layout

block content

    div.navber
      div.navbar-brand-center
        span 首页
      div.navbar-brand-left
        //img(src="images/icon/返回.png")
      div.navbar-brand-right
        a(href="login")
          img(src="images/icon/home.png")
