extends layout
block content
   div.navber
      div.navbar-brand-center
         span 登录页面
      div.navbar-brand-left
         a(href="/")
            img(src="images/icon/返回.png")
      div.navbar-brand-right
   div.loginContent
      from
         div
            input(type="text")
         div
            input(type="password")
         div
            input(type="button",value="登录")
            a(href='/reg') 注册
