extends layout
block content
   div.navber
      div.navbar-brand-center
         span 注册页面
      div.navbar-brand-left
         a(href="/login")
            img(src="images/icon/返回.png")
      div.navbar-brand-right
   div #{message}
   div.loginContent
      form(method="post")
         div
            input(type="text",name="username")
         div
            input(type="password",name="password")
         div
            input(type="password" name="password-repeat")
         div
            button(type="submit") 注册
